<h1>Leave a Comment</h1>

<%= form_for @comment, url: link_comments_path do |f| %>
<%= f.hidden_field :link_id, :value => @link.id %>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
    <%= f.submit %>
<% end %>
