<h2>Edit <%= @link.title %></h2>
<p>Make Changes Below</p>

<%= form_for @link do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
   <%= f.label :url %>
   <%= f.url_field :url %>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
<% end %>
