<h1>Post</h1>

<div>
  <%= link_to "#{@link.title}", @link.url %>
</div>
<div>
  <%= @link.description %>
</div>
<div>
  <%= link_to "Comments", link_comments_path(link_id: @link.id) %>
</div>

<% if current_user %>
  <%= link_to "Edit", edit_link_path %>
  <%= link_to "Delete", link_path, method: :delete %>
<% end %>
