<h1>Post</h1>

<% if current_user == @link.user %>
  <%= link_to "Edit", edit_link_path %>
  <%= link_to "Delete", link_path, method: :delete %>
<% end %>

<div>
  <%= link_to "#{@link.title}", @link.url %>
</div>
<div>
  <%= @link.description %>
</div>

<%= render 'comments/new' %>

<% @link.comments.each do |comment| %>
  <%= comment.body %>
<% end %>
