<h2>Login</h2>

<%= form_tag login_path do %>
  <%= label_tag :user_name %>
  <%= text_field_tag :user_name %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag %>
<% end %>

<p>
  Not a user?
  <%= link_to "Create Profile", new_user_path%>
</p>
