<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <% if current_user %>
    <%= link_to "Front Page", links_path %>
    <%= link_to "New Post", new_link_path %>
    <%= link_to "Posts", individual_links_index_path %>
    <%= link_to "User Info", user_path(current_user) %>
    <%= link_to "Logout", logout_path, method: "delete" %>
  <% end %>
</header>
<body>

<%= yield %>

</body>
</html>
