<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <body >

    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <% if current_user %>
            <li><%= link_to "Front Page", links_path %></li>
            <li><%= link_to "New Post", new_link_path %></li>
            <li><%= link_to "Posts", individual_links_index_path %></li>
            <li><%= link_to "Comments" %></li>
            <li><%= link_to "User Info", user_path(current_user) %></li>
            <li><%= link_to "Logout", logout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Login", login_path %>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
